<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Vladik. It uses data from mapbox.com and darsky.net</p>
    <image class="portrait" src="./img/meme.jpg">
    </div>
    
    {{>footer}}
</body>

</html>